.yellow-bg{
  background: yellow;
}

.alert-box {
  background: #aba8f4;
  color: #4646b4;
  padding: 20px;
  border-radius: 5px;
  display: none; /*숨김*/
  margin-bottom: 10px;
}

.alert-box p{
  display: inline;
}